* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    z-index: 10;
    /*mix-blend-mode: difference;*/
    padding-bottom: 14px;
}

.scrolled {
    background-color: black;
    box-shadow: 0 2px 3px #6b6b6b;
}

.unscrolled {
    background-color: transparent;
}

img {
    width: 100%;
}

.main {
    color: white;
    text-align: center;
    margin: 300px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin-top: 175px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.header {
    transform: translate(-1rem, -1rem);
}

h1 {
    color: white;
    font-size: 2rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0.9;
    margin-bottom: 1.3rem;
}

h2 {
    color: white;
    font-size: 1.1rem;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 1.2rem;  
}

h2.subheading {
    margin-bottom: 0.5rem;
}

h4 {
    color: rgb(230, 230, 230);
    font-size: 0.8rem;
    line-height: 1.1;
    font-family: calling-code;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
    letter-spacing: 2px;
}

h6 {
    font-size: 11rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: -6px;
    margin-bottom: 20px;
}


p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
    min-width: 300px;
    margin-bottom: 1.4em;
}

a {
    color: white;
}

a:hover {
    color: #e93757;
}


nav { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

hr {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 6px;
    height: 2px;
}

.full-width {
    flex: 1 1 800;
    width: 100vw;
}

.half-width {
    padding: 1rem;
    flex: 1 1 400px;
    min-width: 50%;
}

.third-width {
    padding: 1rem;
    flex: 1 1 266px;
    min-width: 33%;
}

.quart-width {
    padding: 1rem;
    flex: 1 1 200px;
    min-width: 150px;
}

.gallery {
    margin-bottom: 1rem;
}

.gallery1 {
    display: flex;
    flex-wrap: wrap;
}

.img-link {
    cursor: pointer;
}

.links {
    display: flex;
    margin-top: 14px;
}

.logo {
    color: white;
    font-size: 1.7rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    line-height: 2.4rem;
    letter-spacing: 0px;
    font-weight: 500;
    justify-content: left;
    width: 50%;
    z-index: 10;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #feee42;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links {
    color: white;
    font-size: 1.7rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    line-height: 1.7rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #e93757;
    transition: 0.2s;
    text-decoration: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: all 0.3s ease;
}

#hr-nav {
    background-color: white;
    position: absolute;
    left: 2rem;
    right: 2rem;
    transform: translateY(-50px);
    margin-top: 10px;
    margin-bottom: 6px;
    height: 2px;
}

#indented {
    padding-left: 2rem;
}

#center{
    text-align: center;
    justify-content: space-around;
}

#text-block {
    margin-top: 0;
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .main {
        margin: 50% 20px;
    }
    nav {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    section {
        margin-top: 120px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.1rem;
    }
    h2.subheading {
        margin-bottom: 0.5rem;
    }
    h6 {
        font-size: 7rem;
        line-height: 6.4rem;
        letter-spacing: -3px;
    }
    p {
        font-size: 1.1rem;
    }
    hr {
        margin-bottom: 5px;
    }
    .half-width {
        padding: 1rem 0;
    }
    .header {
        transform: translate(0, -1rem);
    }
    .logo {
        font-size: 2rem;
        z-index: 10;
    }

    .nav-links {
        font-size: 2.4rem;
        font-weight: 400;
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: black;
        left: 0;
        display: block;
        padding-top: 80px;
        width: 100%;
        margin: 0 1.5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .nav-links li {
        margin: 1.5rem 0;
        opacity: 0;
    }
    .burger {
        margin-top: 2px;
        position: absolute;
        display: block;
        right: calc(1.5rem - 5px);
        cursor: pointer;

    }
    #indented {
        padding-left: 0;
    }
    #hr-nav {
        right: 1.5rem;
        left: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .third-width {
        padding: 1rem 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(25px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: translateY(8px) rotate(45deg);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: translateY(-8px) rotate(-45deg);
}